include LICENSE
include README.md
include AUTHORS.txt
include requirements.txt
recursive-include cmsplugin_remote_form/templates *
recursive-include cmsplugin_remote_form/locale *
global-exclude *.orig *.pyc *.log *.swp
