{% load l10n bootstrap3 sekizai_tags staticfiles %}

{% if not show_thanks or object.thanks_in_modal %}
    <form id="remote_form_{{ object.id }}" method="POST" action=""  data-parsley-validate
          class="{% if form_layout %}form-{{ form_layout }}{% else %}form{% endif %}">
        {% csrf_token %}
        {% block fields %}
            {% for field in form %}
                {% block field %}
                    {% if form_layout %}
                        {% bootstrap_field field layout=form_layout field_class=object.field_class label_class=object.label_class placeholder=field.placeholder %}
                    {% else %}
                        {% bootstrap_field field field_class=object.field_class label_class=object.label_class placeholder=field.placeholder  %}
                    {% endif %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
        {% if form_layout == 'horizontal' %}
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" class="btn btn-primary " name="remote_form_{{ object.id|unlocalize }}"
                            {% if object.submit_button_text %}value="{{ object.submit_button_text }}"{% endif %} />
                </div>
            </div>
        {% endif %}
    </form>
{% else %}
	{{ object.thanks|safe }}
{% endif %}

{% if show_thanks and object.thanks_in_modal %}
    {% addtoblock 'js-external  ' %}
        <div class="modal fade" id="remote_form_{{ object.id }}_thanks_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        {{ object.thanks|safe }}
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <script>
            $(window).load(function () {
                $("#remote_form_{{ object.id }}_thanks_modal").modal();
            });
        </script>
    {% endaddtoblock %}
{% endif %}
