{% load l10n bootstrap3 sekizai_tags staticfiles %}

{% if form %}
    <form id="remote_form_{{ contact.id }}" method="POST" action=""  data-parsley-validate
          class="{% if form_layout %}form-{{ form_layout }}{% else %}form{% endif %}">
        {% csrf_token %}
        {% block fields %}
            {% for field in form %}
                {% if form_layout %}
                    {% bootstrap_field field layout=form_layout field_class=contact.field_class label_class=contact.label_class %}
                {% else %}
                    {% bootstrap_field field field_class=contact.field_class label_class=contact.label_class %}
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% if form_layout == 'horizontal' %}
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" class="btn btn-primary " name="remote_form_{{ contact.id|unlocalize }}"
                            {% if contact.submit_button_text %}value="{{ contact.submit_button_text }}"{% endif %} />
                </div>
            </div>
        {% endif %}
    </form>
{% elif contact.thanks_in_modal %}
    {% addtoblock 'js-external' %}
        <div class="modal fade" id="contact-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <img data-dismiss="modal"
                                 class="close-icon" src="{% static "images/contact-modal-close.svg" %}" alt=""></div>
                        <div class="envelope">
                            <img class="confirm-icon" src="{% static "images/contact-modal-received.svg" %}" alt="">
                        </div>
                    </div>
                    <div class="modal-body">
                        {{ contact.thanks|safe }}
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    {% endaddtoblock %}
    {% addtoblock 'js-external' %}
        <script>
            $(window).load(function () {
                if (window.location.hash) {
                    $("#contact-modal").modal();
                }
            });
        </script>
    {% endaddtoblock %}
{% else %}
	{{ contact.thanks|safe }}
{% endif %}
