{% extends 'cmsplugin_remote_form/.base.html' %}
{% load l10n bootstrap3 %}

{% block fields %}
    <div class="row">
        {% for field in form %}
            {% with column_class=field.field.object.css_class|default:"col-sm-6" %}
                {% bootstrap_field field form_group_class="form-group "|add:column_class placeholder=field.placeholder  %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}

{% block button %}
    <div class="text-center">
        <input type="submit" class="btn btn-primary " name="remote_form_{{ object.id|unlocalize }}"
                               value="{{ object.submit_button_text|default:"submit" }}"/>
    </div>
{% endblock %}